table
{
	width: 100%;
	margin-top: 100px;
}

th
{
	border-collapse: collapse;
	background-color: green;
	color: white;
	padding: 8px;
}

tr:nth-child(even)
{
	background-color: lightgrey; 
}

td
{
	text-align: left;
	padding: 8px;
}

.guardar
{
	cursor: pointer;
	border-radius: 10px;
	height: 45px;
	width: 250px;
	color: white;
	background: green;
	border-style: none;
	font-size: 25px;
	float: right;
}

.guardar:hover
{
	background-color: #06AF0E;
}

.cerrar
{
	background-color: red;
	color: white;
	float: right;
}

@keyframes aparecer
{
	from {opacity: 0}
	to {opacity: 1}
}

div
{
	border-radius: 5px;
	background: lightgrey;
	width: 400px;
	padding: 20px;
	position: absolute;
	right: 10%;
	top: 20%;
	animation-name: aparecer;
	animation-duration: 4s;
}