p
{
	color:red;
	font-size:10pt;
}
.negrita
{
	font-weight: bold;
	font-size: 15pt;
}
h1
{
	color: green;
}
input[type='button']
{
	margin: 50px 5px 50px 5px;
	padding: 0px 25px 0px 0px; /*Mueve el texto interno*/
	color: white;
	font-weight: bold;
	height: 50;
	width: 130;
	font-size: 15pt;
	border-radius: 10px;
	cursor: pointer;
}
.verde
{
	background-color: green;
}
.rojo
{
	background-color: red;
}